github "Alamofire/Alamofire" >= 4.0.0
github "hyperoslo/Cache"
github "goktugyil/EZSwiftExtensions"
github "hackiftekhar/IQKeyboardManager"
github "onevcat/Kingfisher" ~> 4.10.0
github "SnapKit/SnapKit"
github "SwiftyJSON/SwiftyJSON"
github "scinfu/SwiftSoup"
github "jdg/MBProgressHUD"
github "eggswift/pull-to-refresh"
github "ElaWorkshop/TagListView"
github "DaveWoodCom/XCGLogger" ~> 4.0.0
